@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    --details: #cfcfcf;
    --header: #1e2934;
    --primary: #32404e;
    --secondary: #3e4d5b;
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.vertical-divider {
    border-left: 1px solid var(--details);
    border-right: 1px solid var(--details);
    margin: inherit;
}